<% layout("/layouts/boilerplate") %>


<div class="checkout-background">
    <div class="order-page">
        <div class="order-page-content">

                      <a href="/dineInOrders">
                        <span style="padding-left: 30px;">
                        <button class="btn order-btn">
            <span class="fire-emoji">🔥</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="order-btn-span" style="font-weight: 600;">DineIn Orders</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-utensils utensils-icon" style="color: aliceblue;"></i>
          </button>
                      </span>
                      </a>

                      <a href="/deliveryOrders">
                        <span style="padding-left: 30px;">
                        <button class="btn order-btn">
            <span class="fire-emoji">🔥</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="order-btn-span" style="font-weight: 600;">Delivery Orders</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-utensils utensils-icon" style="color: aliceblue;"></i>
          </button>
                      </span>
                      </a>
                      
                  </form>
            </div>
          </div>

</div>
</div>
</div>